<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>

    <h2>Titre de la section Portfolio</h2>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odio, non unde omnis eos, iure, sapiente voluptatibus earum ipsum pariatur ut aperiam, voluptatum dignissimos totam ullam quis laboriosam quasi sit.</p>
    
</body>
</html>