@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Merriweather:400,700');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*
Style reset
*/

*{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h2, h3{
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

/*
Style header
*/
  


  header, footer{
      color: white;
      background: lightseagreen;
      padding: 2rem;
      margin-bottom: 4rem;
      position: relative;
  }

  .fa-bars{
      position: absolute;
      background: darkslategrey;
      border: .3rem solid white;
      padding-top: .6rem;
      width: 3rem;
      height: 3rem;
      left: 50%;
      bottom: 0;
      cursor: pointer;

      -webkit-border-radius: 50%;
      border-radius: 50%;

      -webkit-transform: translate(-50%, 100%);
      transform: translate(-50%, 100%);
  }

   h1 span{
       font-family: 'Merriweather', serif;
       font-weight: 400;
       font-size: .5em;
       display: block;
       margin-bottom: 1rem;

  }

  nav ul{
      height: 0;
      overflow: hidden;
      list-style: none;
      

      -webkit-transition: all .5s;
      transition: all .5s;
  }

  .toggleBurger{
    height: 14rem;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: all .5s
}

nav li{
    background: rgba(255, 255, 255, .5);
    padding: 1rem;
    margin-bottom: .5rem;

    -webkit-transition: all .5s;
    transition: all .5s;
}

.active{
    background: white;

}

.active a{
    color: lightseagreen;
}


  /*
  Style main
  */

    h2{
        color: lightseagreen;
    }

    h2:after{
        content: '';
        display: block;
        width: 5rem;
        height: .2rem;
        margin: 1rem auto 2rem auto;
        border-bottom: .2rem dotted black;
    }

    h3{
        margin-bottom: 1rem;
    }

    main, h1, nav{
        max-width: 85rem;
        margin: auto;
        position: relative;
        bottom: 0;
        right: 0;
    }






  /*
  Style footer
  */

      footer{
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          margin-bottom: 0;
      }

      /*
      Requête media*/


      @media screen and (min-width: 850px){

           /*Style header*/
           header{
               text-align: left;

           }

           .fa-bars{
               display: none;
           }

           nav ul{
               height: auto;
               position: absolute;
               right: 2rem;
               bottom: 0;
               

           }

           nav li{
               display: inline-block;
               
           }

           nav li:not(:last-child){
               margin-right: .5rem;
           }
      }
