<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page à propos</title>
</head>
<body>
    <h2>A propos</h2>
    <img src="img/telechargement.jpg" alt="photo">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, est. Reprehenderit suscipit iusto nihil ea pariatur eveniet, labore, laudantium cupiditate, vero veritatis at! Doloremque ullam delectus quaerat distinctio eos esse.</p>

    <h3>Mes compétences</h3>
    <ul>
        <li>
            <p><span>HTML: 84%</span></p>
        </li>

        <li>
            <p><span>CSS: 24%</span></p>
        </li>

        <li>
            <p><span>Javascript: 80%</span></p>
        </li>
        
    </ul>

    <p>Nhésitez pas à me contacter en cliquant <a href="#">sur ce lien</a></p>
    
</body>
</html>