<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page portfolio</title>
</head>
<body>
    <h2>Découvrez mes travaux</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit reprehenderit harum voluptatem, odio velit nam blanditiis aliquid nemo quos, architecto labore quibusdam libero. Error pariatur fugit debitis provident soluta modi.</p>

    <figure>
        <img src="img/space1.jpg" alt="Projet 1">
        <figcaption>Projet 1 <button>Afficher les détails</button></figcaption>
    </figure>

    <figure>
        <img src="img/space2.jpg" alt="Projet 2">
        <figcaption>Projet 1 <button>Afficher les détails</button></figcaption>
    </figure>

    <figure>
        <img src="img/space3.jpg" alt="Projet 3">
        <figcaption>Projet 1 <button>Afficher les détails</button></figcaption>
    </figure>

    <figure>
        <img src="img/space4.jpg" alt="Projet 4">
        <figcaption>Projet 1 <button>Afficher les détails</button></figcaption>
    </figure>

    <!-- Modal -->
    <section id="modal">

        <article>
            <h2>Titre du projet 1 <i class="fa fa-times"></i></h2>
            <img src="img/space1.jpg" alt="Projet 1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur officia provident, esse perspiciatis, consequatur accusantium, vel suscipit cum rem nemo aspernatur fugiat facere, natus molestias placeat iusto maiores voluptate quaerat?</p>
        </article>


    </section>
    
</body>
</html>