<table>
    
    
    {% for users in user %}
        <tr>
            {% for prop in user %}
            <p>{{ prop }}</p>
            {% endfor %}
            
        </tr>
        
    {% endfor %}
    
    
</table>
