<h2>Découvrez mes travaux</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit reprehenderit harum voluptatem, odio velit nam blanditiis aliquid nemo quos, architecto labore quibusdam libero. Error pariatur fugit debitis provident soluta modi.</p>

    <figure>
        <img src="./src/app/img/space1.jpg" alt="Projet 1">
        <figcaption><span>Projet 1</span><button>Afficher les détails</button></figcaption>
    </figure>

    <figure>
        <img src="./src/app/img/space2.jpg" alt="Projet 2">
        <figcaption><span>Projet 2</span><button>Afficher les détails</button></figcaption>
    </figure>

    <figure>
        <img src="./src/app/img/space3.jpg" alt="Projet 3">
        <figcaption><span>Projet 3</span><button>Afficher les détails</button></figcaption>
    </figure>

    <figure>
        <img src="./src/app/img/space4.jpg" alt="Projet 4">
        <figcaption><span>Projet 4</span><button>Afficher les détails</button></figcaption>
    </figure>

    <!-- Modal -->
    <section id="modal">

        <article>
            <h2><span>projet 1</span> <i class="fa fa-times"></i></h2>
            <img src="./src/app/img/space1.jpg" alt="Projet 1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur officia provident, esse perspiciatis, consequatur accusantium, vel suscipit cum rem nemo aspernatur fugiat facere, natus molestias placeat iusto maiores voluptate quaerat?</p>
        </article>


    </section>
